{% extends "bootstrap/base.html" %}

{% block body %}
<div>
    <hr style="border: 5px solid red;">
    <center><i><h1>GEEK<span style="color: #dc143c;">SPOT</span></h1></i></center>
    <center><p>Books for all ages!</p></center> 
    <img width='1600' height='500' src="{{ url_for('static',filename='book.jpg')}}" alt="Book with butterfly"><br/><br/><br/>
    <center><table>
        <tr>
            <td><center><button  class="btn btn-danger" style="margin-left: 30px; margin-right:100px; width:200px; height:50px;  color:white; font-size: 20; font-family:comic sans ms" type="button" onclick="window.location.href='/registerCustomer'">Want to buy?</button></center></td>
            <td><button  class="btn" style="margin-left:100px; margin-right: 30px; width:200px; height:50px; background-color: black; color:white; font-size: 20; font-family:comic sans ms" type="button" onclick="window.location.href='/registerSeller'">Want to sell?
            </button></td>
        </tr>
        
    </table></center>
</div>
{% endblock %}