{% extends 'base.html' %}

{% block content %}
<div class="formwrapper">
  <h2 class="title">Contact</h2>
  <form method="POST" action="/registerSeller">
      <div class="form-field">{{ form.storeName.label }} {{ form.storeName(size=20) }}
        {% if form.storeName.errors %}
        <ul class="errors">
          {% for error in form.storeName.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <p>Hello!</p>
      </div>
      <div class="form-field">{{ form.storeLocation.label }} {{ form.storeLocation }}
        {% if form.storeLocation.errors %}
        <ul class="errors">
          {% for error in form.storeLocation.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
      <div class="form-field">{{ form.storeOwnerEmail.label }} {{ form.storeOwnerEmail }}
        {% if form.storeOwnerEmail.errors %}
        <ul class="errors">
          {% for error in form.storeOwnerEmail.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
      <div class="form-field">{{ form.storeOwnerName.label }} {{ form.storeOwnerName }}
        {% if form.storeOwnerName.errors %}
        <ul class="errors">
          {% for error in form.storeOwnerName.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
      <div class="form-field">{{ form.storeContactNum.label }} {{ form.storeContactNum }}
        {% if form.storeContactNum.errors %}
        <ul class="errors">
          {% for error in form.storeContactNum.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
      
      {{ form.submit }}
  </form>
</div>
{% endblock %}